<%- model_class = Kiban -%>
<div class="page-header">
  <h1>基板の登録<%#=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
